<h1>Add a new sushi restaurant</h1>

<%= form_for @restaurant do |f| %> 

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br><br>
  <%= f.submit 'Add Restaurant' %>

<% end %>

<br><br>

<a href="/">Back</a>