<h1>Edit current record</h1>

<%= form_for @dog, url: "/dogs/#{@dog.id}", method: "patch" do |f| %>
	Name:
	<%= f.text_field :name %><br>
	Breed:
	<%= f.text_field :breed %><br>
	Color:
	<%= f.text_field :color %><br>
	Size:
	<%= f.text_field :size %><br>
	Age:
	<%= f.text_field :age %>
	<br>
	<%= f.submit "Update dog" %>
<% end %>

<br>

<a href="/">Home</a>