<h1>Details Page</h1>

<% if @image == false %>
	<img src="http://placehold.it/120x120">
<% else %>
	<img src="http://pokeapi.co<%= @image['image'] %>">
<% end %>

<h3>Name:</h3>
<p><%= @details['name'] %></p>

<h3>Abilities:</h3>
<% @details['abilities'].each do |ability| %>
	<p><%= ability['name'] %></p>
<% end %>

<h3>Type:</h3>
<% @details['types'].each do |type| %>
	<p><%= type['name'] %></p>
<% end %>

<h3>Next evolution:</h3>
<% if @details['evolutions'].empty? %>
	<p>No evolution found</p>
<% else %>
	<% @details['evolutions'].each do |evolution| %>
		<% location = evolution['resource_uri'] %>
		<p><a href="/details?path=<%= location %>"><%= evolution['to'] %></a></p>
	<% end %>
<% end %>

<br><br>

<a href="/">Back</a>
 